@charset "utf-8";
/* CSS Document */
/*@font-face {
    font-family: "atariFont";
    src: url("./../polices/atarian.ttf");
}*/
body {
    background-color: #1D1A2C;
    margin: auto;
    width: 837px;
    border: solid 8px #13111C;
    font-family: Arial, serif;
}
hr {
    border: none;
    background-color: #1D1A2C;
    color: #1D1A2C;
    width: 50%;
    height: 1px;
    margin: auto;
}
#main {
    margin: auto;
    text-align: center;
}
.top {
    background-image: url("../GFX/logohaut.png");
    width: 837px;
    height: 233px;
    margin: auto;
    background-position: center;
    margin: auto;
}
.menu {
    background-color: #000000;
}
.menu table tr td a {
    color: transparent;
}
.content {
    background-color: #000000;
    text-align: left;
    font-size: 0.8em;
    font-weight: 600;
}
.content h1,.content h2 {
    font-weight: 300;
}
.content div.history p,.content div.productions p {
    color: #354575;
    margin-left: 5px;
    margin-right: 5px;
}
.content div.guestbook p {
    color: #6666AA;
    margin-left: 10%;
    margin-right: 10%;
}	
.content div.guestbook div {
    color: #666688;
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: underline;
}	
.content div.history div {
    color: #354575;
    margin-left: 5px;
    margin-right: 5px;
}
.content div.productions div {
    color: #354575;
    margin-left: 5px;
    margin-right: 5px;
}
.content div.productions div.mods_logo {
    background-image: url('../GFXs/compilzik.png');
    width: 178px;
    height: 125px;
    margin: auto;
}
.content .history a,.content .members a,.content .guestbook a,.content .links a {
    color: #666666;
}
.content .productions a  {
    color: #666666;
    text-decoration: none;
}	
.content .history a:hover,.content .members a:hover,.content .guestbook a:hover,.content .links a:hover {
    text-decoration: none;
}
.content div.members {
    text-align: center;
}
.content div.members h1,.content h1 {
    color: #222C49;
}
.content div.members h2,.content h2 {
    color: #354575;
    line-height: 5px;
    text-decoration: none;
}
.content div.sign_guestbook table tr td,.content div.sign_guestbook div,
.content div.contact table tr td,.content div.contact div {
    color: #354575;
}
.content div.sign_guestbook span,
.content div.contact span {
    vertical-align: middle;
    display: inline-block;
}
.content div.sign_guestbook div.error,
.content div.contact div.error {
    background-color: #1D1A2C;
    color: #FF3333;
    width: 33%;
}
.content div.productions table tr td {
    vertical-align: top;
}
.content div.contact h1,.content div.guestbook h1 a,
.content div.sign_guestbook h1 {
    color: #354575;
    text-decoration: underline;
}
.content div.guestbook h1 a:hover {
    text-decoration: none;
}
.content div.links div table tr td div,
.content div.links table tr td div {
    color: #666666;
}
.content div.links div table tr td div.link a {
    color: #666699;

}
.content div.links div table tr td div a:hover {
    text-decoration: none;
}
.content div.links div.column_left {
    float: left;
}
.content table tr td.screenshot img {
    width: 200px;
    height: 150px;
    border: solid 1px #1D1A2C;
}
.content div.members div.logo_atari_1 {
    background-image: url("../logos/final.JPG");
    width: 302px;
    height: 79px;
    margin: auto;
}
.content div.members div.logo_atari_2 {
    background-image: url("../logos/HMD2.png");
    width: 244px;
    height: 141px;
    margin: auto;
}
.content div.members div.logo_amiga {
    background-image: url("../logos/CUBES.png");
    width: 320px;
    height: 148px;
    margin: auto;
}
.content div.members div.logo_pc {
    background-image: url("../logos/hmdintro.png");
    width: 320px;
    height: 145px;
    margin: auto;
}
.content div.members div.rebirth {
    background-image: url("../logos/rebirth.png");
    width: 600px;
    height: 108px;
    margin: auto;
}
.content div.guestbook div.logo_guestbook {
    background-image: url("../logos/nexxus_5.png");
    width: 320px;
    height: 200px;
    margin: auto;
}
.content div.sign_guestbook div.logo_sign_guestbook {
    background-image: url("../logos/HMD-ACH.png");
    width: 320px;
    height: 69px;
    margin: auto;
}
.content div.contact div.logo_contact {
    background-image: url("../logos/logodiable.png");
    width: 289px;
    height: 115px;
    margin: auto;
}

.content div.errorDoc {
    font-family: Arial, serif;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px #dddddd;
    border-radius: 3px;
    color: #eeeeee;
    padding: 10px;
    margin: 10px;
}
.mountains {
    background-image: url("../GFX/hmdfond2.png");
    width: 837px;
    height: 267px;
    margin: auto;
}
.line {
    background-color: #404A67;
    height: 1px;
}
.footer {
    background-color: #000000;
    font-family: Arial,Sans-serif;
    font-size: 0.6em;
    color: #CCCCCC;
    text-align: center;
}
input,textarea {
    background-color: #13111C;
    border: solid 1px #333333;
    color: #666666;
}
.content div.sign_guestbook span.captcha,
.content div.contact span.captcha {
    color: #FF6600;
    border: solid 1px #996699;
    background-color: #53384f;
    width: auto;
    padding: 0px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    text-decoration: blink;
}
.content div.sign_guestbook input[type="submit"],
.content div.contact input[type="submit"] {
    background-image: url("../GFX/disk.png");
    height: 44px;
    width: 128px;
    border: none;
}
.clear_both {
    clear: both;
}
div.facebook {
    background-image: url('../GFXs/logo-facebook.png');
    width: 32px;
    height: 32px;
    cursor: pointer;
}