@charset "utf-8";
body {
    background-color: #1D1A2C;
    margin: auto;
    width: 837px;
    border: solid 8px #13111C;
    font-family: Arial, serif;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: none;
    background-color: #1D1A2C;
    color: #1D1A2C;
    width: 50%;
    height: 1px;
    margin: auto;
}

#main {
    margin: auto;
    text-align: center;
}
#top {
    background-position: center;
    margin: 0px auto -3px;
    padding: 0px;
}

#top img {
    width: 837px;
    height: 233px;
    margin: 0px;
}
.menu {
    background-color: #000000;
}
.menu table tr td a {
    color: transparent;
}
#content {
    background-color: #000000;
    text-align: left;
}

#content p {
    font-size: 0.8em;
    font-weight: bold;
}

#content div.inlineBlock {
    display: inline-block;
    vertical-align: middle;
}

#content div.guestbook p {
    color: #6666AA;
    margin-left: 10%;
    margin-right: 10%;
}	
#content div.guestbook div {
    color: #666688;
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: underline;
}	
#content #history a,#content .members a,#content .guestbook a {
    color: #666666;
}
#content #history a:hover,#content .members a:hover,#content .guestbook a:hover,#content {
    text-decoration: none;
}

#content h1 {
    color: #222C49;
    font-weight: 300;
    font-size: 2em;
}

#content h2 {
    color: #354575;
    line-height: 5px;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.5em;
}
#content div.sign_guestbook table tr td,#content div.sign_guestbook div,
#content div.contact table tr td,#content div.contact div {
    color: #354575;
}
#content div.sign_guestbook span,
#content div.contact span {
    vertical-align: middle;
    display: inline-block;
}
#content div.sign_guestbook div.error,
#content div.contact div.error {
    background-color: #1D1A2C;
    color: #FF3333;
    width: 33%;
}

#content div.contact h1,#content div.guestbook h1 a,
#content div.sign_guestbook h1 {
    color: #354575;
    text-decoration: underline;
}


#content div.guestbook div.logo_guestbook {
    background-image: url("../logos/nexxus_5.png");
    width: 320px;
    height: 200px;
    margin: auto;
}

#content div.errorDoc {
    font-family: Arial, serif;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px #dddddd;
    border-radius: 3px;
    color: #eeeeee;
    padding: 10px;
    margin: 10px;
}
.line {
    background-color: #404A67;
    height: 1px;
}
input,textarea {
    background-color: #13111C;
    border: solid 1px #333333;
    color: #666666;
}
#content div.sign_guestbook span.captcha,
#content div.contact span.captcha {
    color: #FF6600;
    border: solid 1px #996699;
    background-color: #53384f;
    width: auto;
    padding: 0px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    text-decoration: blink;
}
#content div.sign_guestbook input[type="submit"],
#content div.contact input[type="submit"] {
    background-image: url("../GFX/disk.png");
    height: 44px;
    width: 128px;
    border: none;
}
.clear_both {
    clear: both;
}
@media (min-width: 320px) and (max-width: 480px) {
body {
    width: 304px;
    border: solid 4px #13111C;
}

#top img {
    width: 304px;
    height: 85px;
}

}


@media (min-width: 480px) and (max-width: 767px) {
body {
    width: 464px;
    border: solid 4px #13111C;
}

#top img {
    width: 464px;
    height: 129px;
}
}

