SetEnv PHP_VER 5_4
RewriteCond %{QUERY_STRING} \=PHP[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12} [NC]
RewriteRule .* - [F]
ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
Options -Indexes
RewriteEngine on
RewriteRule ^history$ HEMOROIDS.php
RewriteRule ^members$ HEMOROIDS.php?page=1
RewriteRule ^productions$ HEMOROIDS.php?page=2
RewriteRule ^links$ HEMOROIDS.php?page=3
RewriteRule ^404\.html$ HEMOROIDS.php?page=4&error=404
RewriteRule ^403\.html$ HEMOROIDS.php?page=4&error=403
